In [1]:
import pandas as pd
import quantstats as qs
import yfinance as yf
import pytz
import datetime

qs.extend_pandas()

## Organización de data

In [2]:
sample = 'Registro_de_operaciones_Roboforex_Febrero2023.xlsx'

In [3]:
df = pd.read_excel(sample, index_col=0)
df

                     Size  Commission  Swap  GrossProfit  Profit   Balance
datetime
2023-01-02 00:47:04  0.00        0.00     0         0.00    0.00  10339.13
2023-01-02 00:47:04  0.02       -0.09     0        -1.44   -1.53  10337.60
2023-01-02 09:19:58  0.03       -0.13     0         2.82    2.69  10340.29
2023-01-02 09:56:58  0.04       -0.17     0        10.44   10.27  10350.56
2023-01-03 09:51:00  0.02       -0.08     0       -14.26  -14.34  10336.22
...                   ...         ...   ...          ...     ...       ...
2023-01-30 11:24:50  0.03       -0.13     0         1.86    1.73  10926.51
2023-01-30 12:07:06  0.04       -0.17     0         9.84    9.67  10936.18
2023-01-30 16:35:01  0.02       -0.09     0         2.00    1.91  10938.09
2023-01-30 22:00:01  0.02       -0.09     0         1.96    1.87  10939.96
2023-01-31 10:12:00  0.02       -0.09     0         2.14    2.05  10803.01

[155 rows x 6 columns]

In [4]:
df['pct_bal'] = df['Balance'].pct_change()

In [5]:
df.reset_index(inplace=True)
df.dtypes

datetime        object
Size           float64
Commission     float64
Swap             int64
GrossProfit    float64
Profit         float64
Balance        float64
pct_bal        float64
dtype: object

In [6]:
df

,datetime,Size,Commission,Swap,GrossProfit,Profit,Balance,pct_bal
0,2023-01-02 00:47:04,0.00,0.00,0,0.00,0.00,10339.13,NaN
1,2023-01-02 00:47:04,0.02,-0.09,0,-1.44,-1.53,10337.60,-0.000148
2,2023-01-02 09:19:58,0.03,-0.13,0,2.82,2.69,10340.29,0.000260
3,2023-01-02 09:56:58,0.04,-0.17,0,10.44,10.27,10350.56,0.000993
4,2023-01-03 09:51:00,0.02,-0.08,0,-14.26,-14.34,10336.22,-0.001385
...,...,...,...,...,...,...,...,...
150,2023-01-30 11:24:50,0.03,-0.13,0,1.86,1.73,10926.51,0.000158
151,2023-01-30 12:07:06,0.04,-0.17,0,9.84,9.67,10936.18,0.000885
152,2023-01-30 16:35:01,0.02,-0.09,0,2.00,1.91,10938.09,0.000175
153,2023-01-30 22:00:01,0.02,-0.09,0,1.96,1.87,10939.96,0.000171
154,2023-01-31 10:12:00,0.02,-0.09,0,2.14,2.05,10803.01,-0.012518

In [7]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.set_index('datetime', inplace=True)

In [8]:
returns = df['pct_bal']
returns

datetime
2023-01-02 00:47:04         NaN
2023-01-02 00:47:04   -0.000148
2023-01-02 09:19:58    0.000260
2023-01-02 09:56:58    0.000993
2023-01-03 09:51:00   -0.001385
                         ...
2023-01-30 11:24:50    0.000158
2023-01-30 12:07:06    0.000885
2023-01-30 16:35:01    0.000175
2023-01-30 22:00:01    0.000171
2023-01-31 10:12:00   -0.012518
Name: pct_bal, Length: 155, dtype: float64

In [9]:
resampled = returns.resample('D').sum()
resampled.index = resampled.index.tz_localize(None)
resampled

datetime
2022-12-30    0.000461
2022-12-31    0.000000
2023-01-01    0.000000
2023-01-02    0.001465
2023-01-03    0.002649
2023-01-04    0.003103
2023-01-05    0.001915
2023-01-06   -0.111757
2023-01-07    0.000000
2023-01-08    0.000000
2023-01-09   -0.047980
2023-01-10   -0.030827
2023-01-11    0.229366
2023-01-12    0.000826
2023-01-13    0.000179
2023-01-14    0.000000
2023-01-15    0.000000
2023-01-16    0.001008
2023-01-17    0.001425
2023-01-18    0.002545
2023-01-19    0.000782
2023-01-20    0.000906
2023-01-21    0.000000
2023-01-22    0.000000
2023-01-23    0.001262
2023-01-24    0.000566
2023-01-25    0.002694
2023-01-26    0.000592
2023-01-27    0.000783
2023-01-28    0.000000
2023-01-29    0.000000
2023-01-30    0.001460
2023-01-31   -0.012334
Freq: D, Name: pct_bal, dtype: float64

## Aplico con columna Balance

In [10]:
qs.reports.html(resampled, 'EURUSD=X', output='DA_vs_EURUSD.html', title='DA_vs_EURUSD')

findfont: Font family ['Arial'] not found. Falling back to DejaVu Sans.